* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	background-color: rgb(50, 50, 50);
	color: white;
}

hr{
	margin: 3px;
}

#list_x{
	background-color: rgb(30, 30, 30);
	min-height: 50px;
	font-size: 32px;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
